{% extends '::base.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    <!-- sortable/filterable list -->
    <script src='{{asset("lib/datatables/jquery.dataTables.min.js")}}'></script>
    <script src='{{asset("lib/datatables/jquery.dataTables.bootstrap.min.js")}}'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tab_list').dataTable({
                "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap_alt",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
            });
        })
    </script>
{% endblock %}


{% block heading %}
Orders
{% endblock %}


{% block body %}

<div class="row-fluid">
<div class="span12">
    {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">&times;</a>{{ error.message }}
        </div>
    {% endfor %}

    <table class="table table-hover table-bordered" id="tab_list">
        <thead>
        <tr>
            <th>transaction</th>
            <th>Items</th>
            <th>agent</th>
            <th>state</th>
            <th>customer</th>
            <th>total</th>
            <th>create at</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{order.transid}} <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{path('ex_admin_order_update', {'id':order.id})}}"><i class="icon-info-sign"></i> View</a></li>
                              <li><a href="{{path('ex_admin_order_delete', {'id':order.id})}}"><i class="icon-remove"></i> Delete</a></li>
                            </ul>
                        </div>

                        {# <a href="{{path('ex_admin_order_update', {'id':order.id})}}" title="see details"> {{order.transid}}</a> #}
                    </td>
                    <td> {{order.orderitems[0].product.name}}</td>
                    <td>
                        {{order.agent}}
                    </td>
                    <td>
                        {{order.state}}
                    </td>
                    <td><a href="{{path('ex_admin_customer_update', {'id':order.customer.id})}}" title="see details">{{order.customer}}</a></td>
                    <td>${{order.gross|number_format(2)}}</td>
                    <td>{{ order.CreatedAt('Y-m-d H:m:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{path('ex_admin_order_new')}}" class="btn btn-gebo" title="create new order"> <i class="icon-plus icon-white"></i> Add new </a>

</div> <!-- end span12 -->

</div>

{% endblock %}
