{% extends '::base.html.twig' %}

{% block heading %}
Keys
{% endblock %}

{% block body %}

    <div class="row-fluid">
    <div class="span12">
        {% for error in errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">&times;</a>{{ error.message }}
            </div>
        {% endfor %}
    <form action="{{ path('ex_admin_key_update', {'id':key.id}) }}" method="post" {{ form_enctype(form) }}>
        <!-- {{ form_errors(form) }} -->
        <!-- render remaining fields in form -->
        {{form_rest(form) }}
        <button id="submit-btn" type="SUBMIT" class="btn btn-gebo" data-loading-text="Saving..."><i class="icon-ok icon-white"></i> Update</button>
        <a href="{{ path('ex_admin_key_home') }}" class="btn btn-link"> Cancel</a>
    </form>
    </div>
    </div>
{% endblock %}
